<div class="container-fluid bg-dark text-white mt-5">
<div class="row">
    <div class="col-4">
        <h4>Links</h4>
        <ul>
            <li>russianmaal.com</li>
            <li>indianmaal.com</li>
            <li>desighaowali maal.com</li>
            <li>chinisemaal.com</li>
        </ul>
    </div>
    <div class="col-4">
        <h4>Most Visited Customers</h4>
        <ul>
            <li>Mr.Rahman Sahab</li>
            <li>Mr.Massom G</li>
            <li>Mr.Mansoori Lungiwala</li>
            <li>Mr.Manif Farsawala</li>
        </ul>
    </div>
    <div class="col-4">
        <h4>Contacts Us</h4>
        <ul>
            <li>russianmaal.com</li>
            <li>indianmaal.com</li>
            <li>desighaowali maal.com</li>
            <li>chinisemaal.com</li>
        </ul>
    </div>
</div>
</div>
