<div class= "container-fluid d-flex flex-wrap">
    <div class="card m-4">
        <img src="../../../assets/harun2.jpeg" class="card-img-top" height="200">
      <div class="card-header bg-info">
        <p>Feel Chinise</p>
      </div>
      <div class="card-body">
        <p>Price : Only &#8377;99</p>
        <button class="form-control bg-warning"><span class="bi bi-cart4"></span>Add to Cart </button>
      </div>
      <div class="card-footer">
         <button class="form-control bg-danger" id="btn">Book Now</button>
      </div>
    </div>

    <div class="card m-4" id="brd">
        <img src="../../../assets/juned2.jpeg" class="card-img-top" height="200">
      <div class="card-header bg-info">
        <p>Feel Chinise</p>
      </div>
      <div class="card-body">
        <p>Price : Only &#8377;99</p>
        <button class="form-control bg-warning"><span class="bi bi-cart4"></span>Add to Cart </button>
      </div>
      <div class="card-footer">
         <button class="form-control bg-danger" id="btn">Book Now</button>
      </div>
    </div>

    <div class="card m-4" id="br">
        <img src="../../../assets/kais4.jpeg" class="card-img-top" height="200">
      <div class="card-header bg-info">
        <p>Feel Chinise</p>
      </div>
      <div class="card-body">
        <p>Price : Only &#8377;99</p>
        <button class="form-control bg-warning"><span class="bi bi-cart4"></span>Add to Cart </button>
      </div>
      <div class="card-footer">
         <button class="form-control bg-danger" id="btn">Book Now</button>
      </div>
    </div>


    <div class="card m-4">
        <img src="../../../assets/masum.jpeg" class="card-img-top" height="200">
      <div class="card-header bg-info">
        <p>Feel Chinise</p>
      </div>
      <div class="card-body">
        <p>Price : Only &#8377;99</p>
        <button class="form-control bg-warning"><span class="bi bi-cart4"></span>Add to Cart </button>
      </div>
      <div class="card-footer">
         <button class="form-control bg-danger" id="btn">Book Now</button>
      </div>
    </div>

    <div class="card m-4">
        <img src="../../../assets/sad2.jpeg" class="card-img-top" height="200">
      <div class="card-header bg-info">
        <p>Feel Chinise</p>
      </div>
      <div class="card-body">
        <p>Price : Only &#8377;99</p>
        <button class="form-control bg-warning"><span class="bi bi-cart4"></span>Add to Cart </button>
      </div>
      <div class="card-footer">
         <button class="form-control bg-danger" id="btn">Book Now</button>
      </div>
    </div>

    <div class="card m-4">
        <img src="../../../assets/sharuk.jpeg" class="card-img-top" height="200">
      <div class="card-header bg-info">
        <p>Feel Chinise</p>
      </div>
      <div class="card-body">
        <p>Price : Only &#8377;99</p>
        <button class="form-control bg-warning"><span class="bi bi-cart4"></span>Add to Cart </button>
      </div>
      <div class="card-footer">
         <button class="form-control bg-danger" id="btn">Book Now</button>
      </div>
    </div>

    <div class="card m-4">
        <img src="../../../assets/harun8.jpeg" class="card-img-top" height="200">
      <div class="card-header bg-info">
        <p>Feel Chinise</p>
      </div>
      <div class="card-body">
        <p>Price : Only &#8377;99</p>
        <button class="form-control bg-warning"><span class="bi bi-cart4"></span>Add to Cart </button>
      </div>
      <div class="card-footer">
         <button class="form-control bg-danger" id="btn">Book Now</button>
      </div>
    </div>

    <div class="card m-4">
        <img src="../../../assets/kais3.jpeg" class="card-img-top" height="200">
      <div class="card-header bg-info">
        <p>Feel Chinise</p>
      </div>
      <div class="card-body">
        <p>Price : Only &#8377;99</p>
        <button class="form-control bg-warning"><span class="bi bi-cart4"></span>Add to Cart </button>
      </div>
      <div class="card-footer">
         <button class="form-control bg-danger" id="btn">Book Now</button>
      </div>
    </div>

    <div class="card m-4">
        <img src="../../../assets/harun7.jpeg" class="card-img-top" height="200">
      <div class="card-header bg-info">
        <p>Feel Chinise</p>
      </div>
      <div class="card-body">
        <p>Price : Only &#8377;99</p>
        <button class="form-control bg-warning"><span class="bi bi-cart4"></span>Add to Cart </button>
      </div>
      <div class="card-footer">
         <button class="form-control bg-danger" id="btn">Book Now</button>
      </div>
    </div>


</div>
<app-customer></app-customer>
<app-footer></app-footer>
