<div class="modal fade" id="details">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h1>Please Enter Your Details</h1>
          <button class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body row">
         <div class="col-8">
           <dl>
            <dt>Enter your Name</dt>
            <dd><input type="text" name="Name" ></dd>
           </dl>
         </div>
         <div class="col-4">
          <h3>details</h3>
          <dt>Name</dt>
          
         </div>
      </div>
      <div class="modal-footer">
        <button>Book</button>
      </div>
    </div>
  </div>
</div>
