<div class="container-fluid mt-5 d-flex flex-wrap" id="cus">
   <div class="">
      <img src="../../../assets/dari.jpeg">
      <div class="">
        <p>Our Most Visited Customer</p>
      </div>
   </div>
   <div class="">
    <img src="../../../assets/rahmani.jpg">
    <div class="">
      <p>Our Most Visited Customer</p>
    </div>
 </div>
 <div class="">
    <img src="../../../assets/man.jpeg">
    <div class="">
      <p>Our Most Visited Customer</p>
    </div>
 </div>
 <div class="">
    <img src="../../../assets/mas.jpeg">
    <div class="">
      <p>Our Most Visited Customer</p>
    </div>
 </div>
 <div class="">
    <img src="../../../assets/mas.jpeg">
    <div class="">
      <p>Our Most Visited Customer</p>
    </div>
 </div>
 <div class="">
    <img src="../../../assets/tiger.jpeg">
    <div class="">
      <p>Our Most Visited Customer</p>
    </div>
 </div>
</div>
